/* .m-aside-left.m-aside-left--skin-dark {
    background-color: #cacaca;
    border-right: #E10000 solid 2px; */
/*}*/
.m-aside-left.m-aside-left--skin-dark {
    background-color: #E10000;
    border-right: #E10000 solid 2px;
}

.m-aside-left.m-aside-left--skin-dark {
    background-color: #E10000;
}

.m-aside-menu.m-aside-menu--skin-dark
.m-menu__nav
> .m-menu__item
> .m-menu__heading
.m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-dark
.m-menu__nav
> .m-menu__item
> .m-menu__link
.m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-dark
.m-menu__nav
> .m-menu__item
> .m-menu__heading
.m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark
.m-menu__nav
> .m-menu__item
> .m-menu__link
.m-menu__link-text {
    color: #fff;
}

.m-brand.m-brand--skin-dark {
    background: #E10000;
}

.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span,
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::before,
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::after {
    background: #cacaca !important;
}

.m-menu__item:hover {
    background-color: #aa2e32 !important;
    border-color: #8f070c;
    color: #fff !important;

}

.m-menu__ver-arrow{
    color: #fff !important;
}


.m-aside-menu.m-aside-menu--skin-dark
.m-menu__nav
> .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover
> .m-menu__link
.m-menu__link-text {
    color: #cacaca !important;
}

.m-aside-menu.m-aside-menu--skin-dark
.m-menu__nav
> .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover
> .m-menu__link
.m-menu__link-icon {
    color: #cacaca !important;
}

.m-wrapper {
    background-color: #cacaca;
}

.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler:hover span,
.m-brand.m-brand--skin-dark
.m-brand__tools
.m-brand__toggler:hover
span::before,
.m-brand.m-brand--skin-dark
.m-brand__tools
.m-brand__toggler:hover
span::after {
    background: #cacaca;
}

.m-aside-left--fixed
.m-aside-left.m-aside-left--skin-dark
.ps
> .ps__rail-y
> .ps__thumb-y {
    background: #E10000;
}

.btn-outline-accent.m-btn--air,
.btn-accent.m-btn--air,
.m-btn--gradient-from-accent.m-btn--air {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(255, 108, 43, 0.19) !important;
    box-shadow: 0px 5px 10px 2px rgba(255, 108, 43, 0.19) !important;
}

.btn-accent {
    background-color: #E10000;
    border-color: #E10000;
}

.btn-accent:hover {
    background-color: #E10000;
    border-color: #E10000;
}

.btn-accent.m-btn--air:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(255, 108, 43, 0.19) !important;
    box-shadow: 0px 5px 10px 2px rgba(255, 108, 43, 0.19) !important;
}

.m-link {
    color: #E10000;
}

.m-link:hover {
    color: #E10000;
}

.m-link:hover:after {
    border-bottom: 1px solid #E10000;
}

.btn-accent:not(:disabled):not(.disabled):active,
.btn-accent:not(:disabled):not(.disabled).active,
.show > .btn-accent.dropdown-toggle {
    color: #fff;
    background-color: #E10000;
    border-color: #E10000;
}

.form-control {
    border-color: #cacaca;
}

.form-control.focus,
.form-control:focus {
    border-color: #E10000;
    color: #000;
}

label {
    padding-left: 0 !important;
}

.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.buttonMain {
    border: #E10000 solid 2px;
    color: #fff;
    background: #E10000;
    padding: 5px 25px;
    box-sizing: border-box;
    transition-duration: 0.3s;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.bannerFields input,
.bannerFields select,
.bannerFields textarea,
.coupon input {
    background: transparent;
    border-radius: 0;
    border: #E10000 solid 2px;
    height: 36px;
}

.serviceInner {
    background: #fcefe1;
}

.serviceInner h3 {
    font-size: 24px;
    color: #E10000;
    font-family: "Playfair Display", serif;
    margin: 0;
}

.serviceInner p {
    text-align: justify;
    margin-top: 25px;
    font-size: 16px;
    line-height: 26px;
}

.navbar-default .navbar-nav > li:first-child {
    padding-left: 0;
}

.serviceInnerMain img {
    width: 100%;
}

.serviceBoxHeader {
    padding: 10px 25px;
    box-sizing: border-box;
    background: #E10000;
}

.serviceBoxHeader h4 {
    font-size: 24px;
    font-family: "Playfair Display", serif;
    color: #fbecdb;
}

.serverInnerDetails table td {
    padding: 10px 10px;
    box-sizing: border-box;
}

.serverInnerDetails table td img {
    width: auto;
}

.serverInnerDetails table td span {
    display: block;
}

.mt-20 {
    margin-top: 20px;
}

a:hover {
    color: #E10000;
    text-decoration: underline;
}

.bannerFields label {
    font-size: 20px;
    color: #222121;
    font-weight: 300;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.hvr-bounce-to-right:before {
    background: #E10000 !important;
    outline: #E10000 2px solid;
}

.m-portlet input,
.m-portlet select,
.m-portlet textarea,
.m-portlet .coupon input {
    height: auto !important;
}

.mandatorySign {
    color: red;
}

.portlet.light > .portlet-title > .nav-tabs > li {
    display: inline-block;
}

.tableScroll {
    overflow-x: scroll;
}

.tableScroll table {
    width: 120% !important;
}

.refreshBtn {
    padding: 19px 2rem;
}

.m-aside-menu.m-aside-menu--skin-dark
.m-menu__nav
> .m-menu__item.m-menu__item--open {
    background: #E10000;
}

.m-menu__item--open .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark
.m-menu__nav
> .m-menu__item.m-menu__item--open
> .m-menu__link
.m-menu__ver-arrow {
    color: #fff !important;
}

m-menu__item--submenu .m-menu__ver-arrow,
.m-aside-menu.m-aside-menu--skin-dark
.m-menu__nav
> .m-menu__item.m-menu__item--open
> .m-menu__link
.m-menu__link-icon {
    color: #fff !important;
}

.m-aside-menu.m-aside-menu--skin-dark
.m-menu__nav
> .m-menu__item
.m-menu__submenu
.m-menu__item
> .m-menu__link
.m-menu__link-icon {
    color: #fff !important;
}

.m-aside-menu .m-menu__nav {
    padding: 0 0 30px 0;
}

.activeMenu {
    background-color: #aa2e32 !important;
    border-color: #aa2e32;
    color: #fff;
}

.activeMenu .m-menu__link-icon,
.activeMenu .m-menu__link-text {
    color: #fff !important;
}

.dataTables_wrapper .pagination .page-item.active > .page-link,
.dataTables_wrapper .pagination .page-item:hover > .page-link,
.dataTables_wrapper .pagination .page-item:hover > .page-link,
.dataTables_wrapper .pagination .page-item:hover > .page-link {
    background: #E10000 !important;
    color: #fff;
}

.activeSubMenuItem {
    background: #E10000;
}

.btn-info {
    color: #fff;
    background-color: #197b30;
    border-color: #197b30;
}

.btn-info:hover,
.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
    background-color: #196c2c;
    border-color: #196c2c;
}

.btn-primary {
    color: #fff;
    background-color: #E10000;
    border-color: #E10000;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: #E10000;
    border-color: #E10000;
}

.select2-container--default
.select2-selection--single
.select2-selection__rendered {
    color: #575962;
    height: 41px;
}

.disabledDiv {
    pointer-events: none;
    opacity: 1.4;
}

.btn-danger {
    background: red;
}

.serverInnerDetails a {
    text-align: center;
}

.m-portlet textarea {
    width: 100%;
}

.selectedServices h4 {
    font-size: 14px;
}

.refreshBtn {
    padding: 18.9px 2rem;
}

.orderReviewImage {
    font-weight: 700;
    color: #E10000;
}

/*.m-topbar*/
/*    .m-topbar__nav.m-nav*/
/*    > .m-nav__item*/
/*    > .m-nav__link*/
/*    .m-topbar__userpic*/
/*    img {*/
/*    height: 50px;*/
/*}*/

@media screen and (max-width: 1025px) {
    /*.m-stack.m-stack--general.m-stack--ver > .m-stack__item*/
    .m-stack__item.m-stack__item--fluid.m-header-head {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .hideMenuMobile {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .hideMenuMobile {
        display: none !important;
    }

    .responsiveTable {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 767px) {
    .moreBtns {
        text-align: center !important;
        margin-bottom: 20px;
    }

    .buttonMain {
        padding: 10px 25px;
    }

    .panel-body {
        margin: 0 !important;
    }

    .m-stack__item.m-topbar__nav-wrapper {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .moreBtns a,
    .moreBtns button {
        width: 100%;
        margin: 5px 0;
    }
}

@media screen and (max-width: 374px) {
    .moreBtns a,
    .moreBtns button {
        font-size: 12px;
    }
}

.paymentForm #form-container .sq-input {
    border-radius: 50px;
    padding: 0 20px;
    height: 40px;
}

#form-container {
    width: 100% !important;
}

.btnMain {
    border-radius: 15px;
    background: #E10000;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 80px;
    transition-duration: 0.3s;
}

.btnMain:hover {
    background: #710d10 !important;
    transition-duration: 0.3s;
    color: #fff;
}

.profileSettings p {
    margin: 0 0 20px 0;
}

.profileSettings i {
    font-size: 28px;
    color: #97161a;
}

.profileSettings .buttonMain {
    border-radius: 50px !important;
    color: #fff !important;
    margin-top: 20px;
}

.profileSettings h4 {
    font-size: 30px;
    color: #E10000;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.profileSettings a {
    color: #575962;
    text-decoration: none;
}

.m-aside-left--minimize .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link > .m-menu__link-icon {
    color: #fff;
}

.bannerFields input, .bannerFields select, .bannerFields textarea, .coupon input {
    border-radius: 50px !important;
}

#progressbar li.active:before, #progressbar li.active:after {
    background: #E10000;
}

#progressbar li strong {
    font-family: "Open Sans", sans-serif;
}

.appointmentMain h2 {
    font-size: 30px;
    color: #E10000;
    font-weight: 700;
}

#msform input[type="button"], #msform input[type="submit"] {
    border: #E10000 solid 2px;
    color: #fff;
    background: #E10000;
    padding: 5px 25px;
    box-sizing: border-box;
    transition-duration: 0.3s;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    width: 20%;
    font-family: "Open Sans", sans-serif;
    border-radius: 50px !important;
}

#msform .action-button {
    border: #E10000 solid 2px;
    color: #fff;
    background: #E10000;
    padding: 5px 25px;
    box-sizing: border-box;
    transition-duration: 0.3s;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif !important;
    border-radius: 50px !important;
}

.fs-title {
    font-size: 25px;
    color: #E10000;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

.colorSpan {
    color: red;
    position: relative;
    top: -20px;
}

.reject {
    background: red !important;
    border: red solid 1px !important;
}

button.next {
    background: #34C759 !important;
    border: #34C759 solid 1px !important;
}

.modal-body {
    text-align: center;
    padding: 80px 0 !important;
}

.modal .modal-content {

    border-radius: 15px !important;
}

.modal-dialog {
    margin: 25vh auto;
}

.modal-body h3 {
    color: #000;
    font-size: 18px;
}

.modal-body h2 {
    color: green;
    font-weight: 700;
}

.remove {
    border-radius: 50px !important;
}

.btn-success {
    border-radius: 50px !important;
}

#msform input,
#msform select,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    /*width: 100%;*/
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}

.list-dt-first {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}

.propic {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.propic + label {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    font-size: 13px;
    color: #737373;
    font-weight: 400;
    cursor: pointer;
    transition-duration: .2s;
}

#upld {
    width: 25%;
    position: absolute;
    top: 0;
}

.customLogoHeader {
    padding: 10px;
    position: relative;
    top: 10px;
}

.customLogoHeader img {
    width: 15%;
}

.modal-header {
    background: #E10000;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.modal-header h4 {
    color: #fff !important;
}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link {
    display: flex;
    align-items: center;
    color: #000 !important;

}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-topbar__userpic {
    margin-right: 10px;
}

.m--img-rounded {
    border-radius: 50% !important;
}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item.m-topbar__user-profile.m-topbar__user-profile--img.m-dropdown--arrow .m-dropdown__arrow {
    color: #E10000 !important;
}

.m-nav__item .m-btn--custom {
    color: #E10000 !important;
}

.m-card-user .m-card-user__details .m-card-user__name {
    color: #1b1c1e !important;
}

.m-card-user .m-card-user__details .m-card-user__email {
    color: #3f4047 !important;
}

.btn-accent.disabled, .btn-accent:disabled {
    color: #fff;
    background-color: #E10000;
    border-color: #E10000;
}
.d-flex{
    display: flex;
}

@media only screen and (max-width: 992px) {
    .flaticon-more{
        display:none;
    }
}



/*responsive table*/
/*.btn-height {*/
/*height: 40px;*/
/*}*/
@media screen and (max-width: 650px) {
    .responsiveTable {
        overflow-x: scroll;
    }

    .responsiveTable a {
        width: 100%;
        margin: 5px 0;
    }

}
